<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
      <add key="filePath" value="C:\Programming\Projects\TournamentTracker\TextData"/>
  </appSettings>
  <connectionStrings>
    <add name ="Tournament" connectionString="Data Source=LAPTOP-915SUJF0\MSSQLSERVER02;Initial Catalog=Tournament;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>